@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;600;700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

@keyframes floatIn {
  from {
    opacity: 0;
    transform: translateY(45px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.float-in {
  animation: floatIn 1s ease-out forwards;
}

.float-in-action {
  animation-delay: 0.2s; /* ActionArea floats in slightly later */
}

@media (max-width: 390px) {
  .hidden-below-390 {
    display: none;
  }
}
